@import "../global.scss";

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1300px;
  padding: 0 2rem;
  width: 100%;
  z-index: 999;

  @include minSizeWH(1330px, 0) {
    padding: 0;
  }
  .logo {
    position: relative;
    width: 50%;

    img {
      top: 50px;
      box-shadow: 0 10px 15px $slighterShadow;
      width: 100px;
      height: 100px;
      position: absolute;
      border-radius: 50%;
      padding: 1rem;
      background: #ffff;
    }
    .homePage {
      height: 100px;
      width: 100px;
      @include minSizeWH(500px, 0) {
        width: 150px;
        height: 150px;
      }
    }
  }
  .language {
    position: absolute;
    top: 70px;
    right: 2rem;
    @include minSizeWH(500px, 0) {
      top: 90px;
      .container {
        width: 60px !important;
      }
    }
    .container {
      width: 40px;
      background: $mainColor;
      padding: 5px;
      border-radius: 50%;
      box-shadow: 0 5px 20px 0 $slightShadow;

      img {
        display: block;
      }
    }
  }
}
